@import '../../variables';

.logout-container {
    height: 100vh;
    @include cart-container;
    background: url(https://www.monaco-chicago.com/images/1700-960/baseball-grass-1e983004.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    .cart-logout {
        padding-top: 4%;
    }
}

.remove-button {
    @include button;
    margin-bottom: 10px;
}