.about-paragraph {
    font-family: "Goudy Old Style", serif;;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    font-size: 23px;
    text-align: justify;
    text-justify: inter-word;
}

.landing-rotator-container {
    display: flex;
    align-items: row;
    justify-content: center;
}