/* .header-container {
    height: 150px;
    background-color: rgba(0, 0, 51);
    border-bottom: 1px solid rgb(0, 0, 51);
    color:rgb(0, 0, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
    background-repeat: no-repeat;
    width: auto;
}

.header-link {
    margin: 0px;
    color: rgb(0, 0, 51);
    font-family: "Goudy Old Style";
    text-decoration: none;
    font-size: 50px;
}

.header-container nav {
    width: 225px;
    display: flex;
    justify-content: space-evenly;
}

.nav-links {
    color: rgb(0, 0, 51);
    font-size: 24px;
    text-decoration: none;
    font-family: 'Goudy Old Style';
}

@media (min-width: 500px) {
    .header-container {
      flex-direction: row;
    }
    body {
      background: whitesmoke;
    }
  } */