$myColor: rgb(0,0,51);



.header-container {
    height: 150px;
    border-bottom: 1px solid rgb(0, 0, 51);
    // color:rgb(0, 0, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    // text-decoration: none;
    justify-content: space-evenly;
}

.header-link {
    margin: 0px;
    color: rgb(0, 0, 51);
    font-family: "Goudy Old Style", serif;
    text-decoration: none;
    font-size: 50px;
}

.dropdown-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 150px;
    background-color:white;
    display: flex;
    flex-direction: column;
    // align-items: right;
    // justify-content: space-evenly;
    border-top: 1px solid rgb(0,0,51);
    .drop-links {
        color: $myColor;
        font-family: "Goudy Old Style", serif;
        text-decoration: none;
    }
}


.desktop-links {
    font-size: 24px;
    align-items: center;
    display: none;
    .nav-links{
        color: $myColor;
        font-family: "Goudy Old Style", serif;
        text-decoration: none;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-evenly;
        
    }
}

.dropdown-button {
    color: rgb(0,0,51);
    font-size: 28px;
}



// .header-container nav {
//     width: 225px;
//     display: flex;
//     justify-content: space-evenly;
// }

// .nav-links {
//     color: rgb(0, 0, 51);
//     font-size: 24px;
//     text-decoration: none;
//     font-family: "Goudy Old Style", serif;
// }

// @media (min-width: 500px) {
//     .header-container {
//     flex-direction: column;
//     text-decoration: none;
//     }
//   }

  @media (min-width: 1000px) {
      .dropdown-button {
          display: none;
      }

      .dropdown-menu {
          display: none;
      }

      .desktop-links {
          width: 35%;
          display: flex;
          justify-content: space-around;
      }
  }