$primary-header-color: rgb(0, 0, 51);
$primary-font-family: "Goudy Old Style", serif;
$primary-font-color: rgb(0, 0, 51);
$secondary-font-color: rgb(255, 255, 255);
$primary-button-radius: 8px;

@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $primary-font-family;
    color: $secondary-font-color;
    font-weight: bolder;
}

@mixin cart-container {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $primary-font-family;
    color: $secondary-font-color;
    font-weight: bolder;
    position: relative;
    bottom: 80%;
}

@mixin button {
    border-radius: 8px;
    border-color: $primary-font-color;
    background-color: $primary-header-color;
    color: $secondary-font-color;
    width: auto;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
}

.auth-button {
    border-radius: 8px;
    border-color: $primary-font-color;
    background-color: $primary-header-color;
    color: $secondary-font-color;
    width: auto;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
}

@mixin cart {
    border-radius: 8px;
    border-color: $primary-font-color;
    background-color: $secondary-font-color;
    color: $primary-font-color;
    width: auto;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    // display: flex;
    justify-content: space-evenly;
    // white-space: normal;
    margin-top: 10%;
}